<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
         <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
                <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>   
        <div class="header-icon">
            <i class="fa fa-tachometer"></i>
        </div>
        <div class="header-title">
            <h1> Dashboard</h1>
            <small> Dashboard features</small>
            <ol class="breadcrumb hidden-xs">
                <li><a href="index-2.html"><i class="pe-7s-home"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </div>
    </section>
<!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="panel panel-bd cardbox">
                    <div class="panel-body">
                        <div class="statistic-box">
                            <h2><span class="count-number">15</span>
                            </h2>
                        </div>
                        <div class="items pull-left">
                            <i class="fa fa-users fa-2x"></i>
                            <h4>Active Doctors </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="panel panel-bd cardbox">
                    <div class="panel-body">
                        <div class="statistic-box">
                            <h2><span class="count-number">19</span>
                            </h2>
                        </div>
                        <div class="items pull-left">
                            <i class="fa fa-users fa-2x"></i>
                            <h4>Active Patients</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="panel panel-bd cardbox">
                    <div class="panel-body">
                        <div class="statistic-box">
                            <h2><span class="count-number">05</span>
                            </h2>
                        </div>
                        <div class="items pull-left">
                            <i class="fa fa-user-circle fa-2x"></i>
                            <h4>Representative</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="panel panel-bd cardbox">
                    <div class="panel-body">
                        <div class="statistic-box">
                            <h2><span class="count-number">9</span>
                            </h2>
                        </div>
                        <div class="items pull-left">
                            <i class="fa fa-users fa-2x"></i>
                            <h4>Active Nurses</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="panel panel-bd cardbox">
                    <div class="panel-body">
                        <div class="statistic-box">
                            <h2><span class="count-number">6</span>
                            </h2>
                        </div>
                        <div class="items pull-left">
                            <i class="fa fa-user-circle fa-2x"></i>
                            <h4> Pharmachist</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="panel panel-bd cardbox">
                    <div class="panel-body">
                        <div class="statistic-box">
                            <h2><span class="count-number">3</span>
                            </h2>
                        </div>
                        <div class="items pull-left">
                        <i class="fa fa-users fa-2x"></i>
                        <h4>Labratorist</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="panel panel-bd cardbox">
                    <div class="panel-body">
                        <div class="statistic-box">
                            <h2><span class="count-number">4</span>
                            </h2>
                        </div>
                        <div class="items pull-left">
                        <i class="fa fa-users fa-2x"></i>
                        <h4>Accountant</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="panel panel-bd cardbox">
                    <div class="panel-body">
                        <div class="statistic-box">
                            <h2><span class="count-number">7</span>
                            </h2>
                        </div>
                        <div class="items pull-left">
                        <i class="fa fa-users fa-2x"></i>
                        <h4>Receptionist</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
            <!-- datamap -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 ">  
                <div class="panel panel-bd lobidrag">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Line chart</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <canvas id="lineChart" height="150"></canvas>
                    </div>
                </div>
            </div>
            <!-- calender -->
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <div class="panel panel-bd lobidisable">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Calender</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <!-- monthly calender -->
                        <div class="monthly_calender">
                            <div class="monthly" id="m_calendar"></div>
                        </div>
                    </div>
                     <div id="map1" class="hidden-xs hidden-sm hidden-md hidden-lg"></div>
                </div>
            </div>
            <!-- Bar Chart -->
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="panel panel-bd lobidisable">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Bar chart</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <canvas id="barChart" height="200"></canvas>
                    </div>
                </div>
            </div>
             <!-- Radar Chart -->
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="panel panel-bd lobidisable">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Rader chart</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <canvas id="radarChart" height="200"></canvas>
                    </div>
                </div>
            </div>
             <!-- Basic data map -->
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-bd lobidrag">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Google Map</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="embed-container">
                            <iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387144.0075834208!2d-73.97800349999999!3d40.7056308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2sus!4v1394298866288' width='600' height='450' style='border:0'></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-bd lobidrag">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>DataTables </h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="dataTableExample2" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                        <th>Salary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011/04/25</td>
                                        <td>$320,800</td>
                                    </tr>
                                    <tr>
                                        <td>Garrett Winters</td>
                                        <td>Accountant</td>
                                        <td>Tokyo</td>
                                        <td>63</td>
                                        <td>2011/07/25</td>
                                        <td>$170,750</td>
                                    </tr>
                                    <tr>
                                        <td>Ashton Cox</td>
                                        <td>Junior Technical Author</td>
                                        <td>San Francisco</td>
                                        <td>66</td>
                                        <td>2009/01/12</td>
                                        <td>$86,000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
             </div>
        </div> <!-- /.row -->
    </section> <!-- /.content -->

</div> 